<%- include('../_admin_page_headers/admin_top') %>

<div class="fs-2 text-dark">
  <span class="svg-icon svg-icon-2 svg-icon-dark">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none">
      <rect x="2" y="2" width="9" height="9" rx="2" fill="currentColor"></rect>
      <rect
        opacity="0.3"
        x="13"
        y="2"
        width="9"
        height="9"
        rx="2"
        fill="currentColor"></rect>
      <rect
        opacity="0.3"
        x="13"
        y="13"
        width="9"
        height="9"
        rx="2"
        fill="currentColor"></rect>
      <rect
        opacity="0.3"
        x="2"
        y="13"
        width="9"
        height="9"
        rx="2"
        fill="currentColor"></rect>
    </svg> </span
  >Currency
</div>
<hr class="text-dark" />

<div>
    <section><%- include('./includes/global_config_menu') %></section>



       <!-- Table -->
       <div class="row">
        <div class="col-sm-3">
          <div class="card shadow border border-dark">
            <div class="card-body">
              <h5>Add Currency</h5>
              <div>
                <label class="mt-4"> Name</label>
                <input type="text" class="form-control form-control-sm" id="name" />
                <span class="text-danger" id="label_name"></span>
              </div>
              <div>
                <label class="mt-4"> Code</label>
                <input type="text" class="form-control form-control-sm" id="name" />
                <span class="text-danger" id="label_name"></span>
              </div>
              <div>
                <label class="mt-4"> Symbol</label>
                <input type="text" class="form-control form-control-sm" id="name" />
                <span class="text-danger" id="label_name"></span>
              </div>
              <div>
                <label class="mt-4">Rate</label>
                <input type="number" class="form-control form-control-sm" id="rate" step="0.1" />
                <span class="text-danger" id="label_rate"></span>
              </div>
            </div>
          </div>
      
          <button class="btn btn-sm mt-6 btn-dark" onclick="query_add_pm()">Add Method <span id="btn_add_pm"></span></button>
        </div>
        <div class="col-sm-9">
          <div class="card shadow border border-dark">
            <div class="card-body">
              <table class="table table-rounded table-striped border gy-2 gx-3" id="payment_methods_table">
                <thead class=" ">
                  <tr>
                    <th class="px-3 fw-bolder">Name</th>
                    <th class="px-3 fw-bolder">Code</th>
                    <th class="px-3 fw-bolder">Symbol</th>
                    <th class="px-3 fw-bolder">Rate</th>
                    <th class="px-3 fw-bolder">Payment Methods</th>
                    <th class="px-3 fw-bolder">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <script>
                    const currency_list = <%- JSON.stringify(locals.currency_list) || `[]` %>;
                        var pm_status_color
                        var pm_status_text
      
      
      
                    currency_list.forEach((element) => {
      
      
                      if (element.status === 0) {
                        pm_status_color = 'danger';
                        pm_status_text = 'Suspended';
                      } else if (element.status === 1) {
                        pm_status_color = 'success';
                        pm_status_text = 'Active'
                      }
      
                      document.write(`
                        <tr onclick="udpdate_pm_modal(${element.id})" data-bs-toggle="modal" data-bs-target="#edit_pm" class="hoverable bg-hover-secondary">
                          <td>${element.name}</td>
                          <td>${element.code}</td>
                          <td>${element.symbol}</td>
                          <td>${element.rate}</td>
                          <td>${element.payment_methods}</td>
                          <td><span class="badge badge-${pm_status_color}">${pm_status_text}</span></td>
                        </tr>
                      `);
      
                    });
                  </script>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

         <!-- Table -->


</div>


<!-- MODAL -->
<div class="modal fade" tabindex="-1" id="edit_pm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <span class="svg-icon svg-icon-dark svg-icon-1"
            ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M22 7H2V11H22V7Z" fill="black" />
              <path opacity="0.3" d="M21 19H3C2.4 19 2 18.6 2 18V6C2 5.4 2.4 5 3 5H21C21.6 5 22 5.4 22 6V18C22 18.6 21.6 19 21 19ZM14 14C14 13.4 13.6 13 13 13H5C4.4 13 4 13.4 4 14C4 14.6 4.4 15 5 15H13C13.6 15 14 14.6 14 14ZM16 15.5C16 16.3 16.7 17 17.5 17H18.5C19.3 17 20 16.3 20 15.5C20 14.7 19.3 14 18.5 14H17.5C16.7 14 16 14.7 16 15.5Z" fill="black" />
            </svg>
          </span>
          Edit Currency
        </h5>

        <!--begin::Close-->
        <div class="btn btn-icon btn-sm btn-active-light-dark ms-2" data-bs-dismiss="modal" aria-label="Close">
          <span class="svg-icon svg-icon-2x"></span>
        </div>
        <!--end::Close-->
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 mt-4">
            <label class="fw-bolder fs-7">Name</label>
            <input id="upd_name" type="text" class="form-control form-control-sm" disabled />
          </div>
          <div class="col-sm-6 mt-4">
            <label class="fw-bolder fs-7">Code</label>
            <input id="upd_code" type="text" class="form-control form-control-sm" disabled />
          </div>
          <div class="col-sm-6 mt-4">
            <label class="fw-bolder fs-7">Symbol</label>
            <input id="upd_symbol" type="text" class="form-control form-control-sm" disabled />
          </div>
          <div class="col-sm-6 mt-4">
            <label class="fw-bolder fs-7">Rate</label>
            <input id="upd_rate" type="number" class="form-control form-control-sm" />
            <div class="text-danger" id="label_upd_rate"></div>
          </div>

          <div class="col-sm-6 mt-4">
            <label class="fw-bolder fs-7">Status</label>
            <select id="upd_status" class="form-select form-select-sm">
              <option value=""></option>
              <option value="0">Disabled</option>
              <option value="1">Active</option>
            </select>
            <div class="text-danger" id="label_upd_status"></div>
          </div>
          <div class="col-sm-12 mt-4">
            <label class="fw-bolder fs-7">Payment Methods</label>
            <select class="form-select form-select-sm" data-control="select2" data-allow-clear="true" multiple="multiple" id="modal_payment_methods">
              <script>
                const select_payment_methods =  <%- JSON.stringify(locals.select_payment_methods) || `[]` %>;

                select_payment_methods.forEach(element => {
                  document.write(`<option value="${element.id}">${element.name}</option>`);
                });
              </script>
            </select>

            <div class="text-danger" id="label_upd_status"></div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-light" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-sm btn-dark" onclick="query_update_pm_details()">Update <span id="btn_update_pm"></span></button>
      </div>
    </div>
  </div>
</div>

<script>

var name;
  var code;
  var symbol;
  var rate;
  var modal_payment_methods;


  var upd_rate;
  var upd_status;

  var upd_id_selected;

  const currency_payment_methods = <%- JSON.stringify(locals.currency_payment_methods) || `[]` %>;

  function udpdate_pm_modal(element_id) {
    update_pm_globals();

    for (let i = 0; i < currency_list.length; i++) {
      if (currency_list[i].id === element_id) {
        $("#upd_name").val(currency_list[i].name);
        $("#upd_code").val(currency_list[i].code);
        $("#upd_symbol").val(currency_list[i].symbol);
        $("#upd_rate").val(currency_list[i].rate);
        $("#upd_status").val(currency_list[i].status);

        // **********************************
        var  sel_currency  = currency_list[i].id
        var values='';
        $("#modal_payment_methods").val("");

        for (let i = 0; i < currency_payment_methods.length; i++) {
          if (currency_payment_methods[i].currency === sel_currency) {
            values += currency_payment_methods[i].payment + ',';
          }
        }

        var valueArray = values.split(",");
        $(valueArray).each(function(index, value) {
          $("#modal_payment_methods option[value='" + value + "']").prop("selected", true);
        });
        // **********************************

        upd_id_selected = element_id;

        break;
      }
    }
  }

  function update_pm_globals() {
    // Labels
    upd_rate = $("#upd_rate").val();
    $("#label_upd_rate").html("");
    $("#upd_rate").removeClass("border-danger");

    upd_status = $("#upd_status").val();
    $("#label_upd_status").html("");
    $("#upd_status").removeClass("border-danger");

    modal_payment_methods = $("#modal_payment_methods").val();
    $("#label_modal_payment_methods").html("");
    $("#modal_payment_methods").removeClass("border-danger");
  }

  async function query_update_pm_details() {

    update_pm_globals();

    form_data = new FormData();

    form_data.append("upd_rate", upd_rate);
    form_data.append("upd_status", upd_status);
    form_data.append("modal_payment_methods", modal_payment_methods);

    set_loading_spinner("btn_update_pm");
    url = `/global_config/currency/${upd_id_selected}/update`;
    ajax_response = await ajax_request_jquery(url, form_data);
    release_loading_spinner("btn_update_pm");

    console.log(ajax_response);
    // >>>>>>>>>>>>>> Response
    const success_response = () => {
      _display_success_server_res_msg("Successful", `<br> Finalizing  <br> <br> <span class="spinner-border spinner-border sm">`, "success");
    };
    display_ajax_response(ajax_response, success_response);

  }
  // **************************************************************************************ADD
  function update_globals() {
    // Labels
    name = $("#name").val();
    $("#label_name").html("");
    $("#name").removeClass("border-danger");

    rate = $("#rate").val();
    $("#label_rate").html("");
    $("#rate").removeClass("border-danger");
  }

  async function query_add_pm() {
    update_globals();

    var ajax_url = "/global_config/payment_methods/add";
    data = `name=${name}&rate=${rate}`;

    set_loading_spinner("btn_add_pm");
    ajax_response = await ajax_request(ajax_url, data);
    release_loading_spinner("btn_add_pm");

    console.log();
    // >>>>>>>>>>>>>> Response
    const success_response = () => {
      _display_success_server_res_msg("Successful", `  <br> Finalizing  <br> <br> <span class="spinner-border spinner-border sm">`, "success");
    };
    display_ajax_response(ajax_response, success_response);
    // >>>>>>>>>>>>>>
  }

  $(document).ready(() => {
    display_breadcrumb("Global Config >  Payment Methods ");

    $("#gc_mm_5").addClass("active");

    $("#payment_methods_table").DataTable({
      language: {
        lengthMenu: "Show _MENU_",
      },
      dom: "<'row'" + "<'col-sm-6 d-flex align-items-center justify-conten-start'l>" + "<'col-sm-6 d-flex align-items-center justify-content-end'f>" + ">" + "<'table-responsive'tr>" + "<'row'" + "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" + "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" + ">",
    });
  });


    $("#g_menu_5").addClass("active");
  </script>
<%- include('../_admin_page_headers/admin_bottom') %>
